*{
    box-sizing: border-box;
}
#sections {
    width: 100%;
}
.head {
    text-align: center;
    font-family:sans-serif, Helvetica, Arial;
    margin: 20px;
}
.section {
    position: relative;

}
.Content, .titl {
    background-color: #bfbfbf;
    border: 2px solid black;
    padding: 0  5px 0 5px;
    height: 180px;
    margin: 10px 10px 10px 0;
    overflow: hidden;
}
.titl {
    position: absolute;
    top: 0;
    right:0 ;
    padding: 0;
    height: 35px;
    width: 120px;
    font-family:Helvetica, Arial, sans-serif;
    text-align: center;
}
.Content{
    padding-top: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.title1 {
    background-color: #D59898;

}
.title2 {
    background-color:#C14543;

}
.title3 {
    background-color: #E5D198;

}

@media (min-width: 992px) {
    .section {
        float: left;
        width: 33.33%;
    }
}
@media (min-width:768px) and (max-width: 991px) {
    .section {
        float: left;
        width: 49.5%;
    }
    .section3 {
        float: left;
        width: 99%;
    }

}